@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #14532d;
  --color-primary-900: #134e28;
  --color-primary-950: #052f21;
}

@layer base {
  body {
    @apply bg-white text-gray-700 font-sans;
  }

  span,
  a {
    @apply inline-block;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg bg-gray-200 text-gray-900 font-semibold hover:bg-gray-300 transition-colors duration-200;
  }

  .form-control {
    @apply px-3 py-2 rounded-md border border-gray-400/40 focus:outline-none focus:border-primary-600;
  }
}

@utility container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.swiper-pagination-bullet{
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: all 0.3s ease !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  width: 30px !important;
  border-radius: 20px !important;
}

.swiper-button-prev{
  color: #ffffff !important
}
.swiper-button-next{
  color: #ffffff !important
}